*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    max-width: 100%;
    height: 100vh;
    background-color: rgb(42, 41, 41);
    color: white;
    font-family: 'Archivo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*LOGO NAVBAR*/
.logo{
    max-width: 100%;
    transition: 0.9s ease-in-out;
}
.logo:hover{
    transform: scale(1.2);
}
.logoMvl{
    display:none
}
@media (max-width:770px){
    .logoMvl{
        display: block;
        margin: 0 auto;
    }
    .container-top .col-2{
        display: none;
    }
    .logo{
        display: none;
    }
    
}


.darkMode{
    display:none;
}


/*Posicionar el buscador a ras del logo*/
#colbuscador{
    margin-top:auto;
    padding-left: 0px;
}
/*BUSCADOR*/ 
.buscador:not(:focus){
    width: 60%;
    height: 32px;
    transition: 0.6s;
    margin-bottom: 5px;    
    color: white;
    border-radius: 0px 22px 23px 0px;
    -moz-border-radius: 0px 22px 23px 0px;
    -webkit-border-radius: 0px 22px 23px 0px;
    border: 0px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px -5px 25px 0px #4e77d3;
    -moz-box-shadow: 0px -5px 25px 0px #4e77d3;
    box-shadow: 0px -5px 25px 0px #4e77d3;
}
@media (max-width:770px){
    .buscador:not(:focus){
        margin-left:-40px;
        width: 80%;
    }
    .buscador:focus{
        margin-left:-60px;
        width: 100%;
    }
}
.buscador:focus::placeholder {
    opacity: 0;
    transition: 1s;
}
.buscador:not(:focus)::placeholder{
    color: white;
    transition: 1s;
}

.buscador:focus{
    width: 85%;
    padding-left:10px;
    height: 32px;
    transition: 0.6s;
    outline: none;
    color: white;
    margin-bottom: 5px;
    border-radius: 0px 22px 23px 0px;
    -moz-border-radius: 0px 22px 23px 0px;
    -webkit-border-radius: 0px 22px 23px 0px;
    border: 0px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px -5px 25px 0px #4e77d3;
    -moz-box-shadow: 0px -5px 25px 0px #4e77d3;
    box-shadow: 0px -5px 25px 0px #4e77d3;
}
.buscador:hover{
    outline: none;
}
.botonBuscador{
    background-color: rgba(0, 0, 0, 0);
    border:none;
}

.fa-search{
    color:#4596F0;
}
.fa-lg{
    line-height: 2px !important;
}

/*Botones Support & Acc*/
.soporte{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    line-height: 2px !important;
}
.soporte:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0px -1px 4px rgba(255,255,255,0);
}
/*MARGEN CONTAINER TOP*/
#container-top{
    padding-bottom: 4px;
}
.section-top{
    background: black;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(69,124,191,0.63);
    -moz-box-shadow: 0px 5px 5px 0px rgba(69,124,191,0.63);
    box-shadow: 0px 5px 5px 0px rgba(69,124,191,0.63);
    padding-top:10px;
}

@media (max-width:996px){
    .soporte{
        display: none;
    }
    
    #suportCol{
        max-width: 10%;
    }
}

.soporteMvl{
    text-decoration: none;
    color: white;
    display:none;
    background-color: rgba(0, 0, 0, 0);
    line-height: 2px !important;
}
.soporteMvl:hover{
    text-decoration: none;
    color: white;
}
@media (max-width:996px){
    .soporteMvl{
        display: inline;
    }
}
#cuenta{
    margin-bottom:2px;
}

.menuCompte{
    display: none;
    position: absolute;
    z-index: 99999;
    width: 120px;
    background-color: #0A0909;
    padding-left: 5px;
    list-style-type: none;
    margin-left: -5px;
    border: 1px solid #4e77d3;

}
@media (max-width:996px){
    .menuCompte{
        display: none;
        position: absolute;
        z-index: 99999;
        width: 120px;
        background-color: #0A0909;
        padding-left: 5px;
        list-style-type: none;
        margin-left: -50px;
        border: 1px solid #4e77d3;
    }
}
.menuCompte li{
    margin-top:5px;
    color: white;
}
.menuCompte a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0px -1px 4px rgba(255,255,255,0);
    
    
}
.menuCompte li:hover{
    -webkit-box-shadow: 8px 0px 0px 0px rgba(78,118,211,1);
    -moz-box-shadow: 8px 0px 0px 0px rgba(78,118,211,1);
    box-shadow: 8px 0px 0px 0px rgba(78,118,211,1);
    margin-left: 5px;
}
/*FOOTER*/
.section-footer{
    color: white;
    background: black;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(69,124,191,0.63);
    -moz-box-shadow: 0px -5px 5px 0px rgba(69,124,191,0.63);
    box-shadow: 0px -5px 5px 0px rgba(69,124,191,0.63);
    margin-top:10px;
}
.container-fluid{
    padding-left: 0px !important;
}


/*****************CATALEG Y INDEX COMMONS ****************/

.preu{
    padding-left:2px;
    background-color: rgba(0, 0, 0, 0.604);
    font-size: 19px;
    margin-top: 0.1em;
    right: 0.1em;
    pointer-events: none;
    position: absolute;
    z-index: 99;
}
.fa-arrow-down{
    color: rgb(150, 245, 150)
}


/*Catalogo juego filas y columnas */
#filaCatalogo{
    overflow: hidden;
}
#filaCatalogo .column img{
    width: 100%;
    transition: 0.2s;
    border:2px solid transparent;
}
#filaCatalogo .column img:hover{
    -webkit-box-shadow: 0px 0px 20px 3px rgba(69,124,191,0.63);
    -moz-box-shadow: 0px 0px 20px 3px rgba(69,124,191,0.63);
    box-shadow: 0px 0px 20px 3px rgba(69,124,191,0.63);
    border:2px solid white;
    transform: scale(0.98);
    
}
#filaCatalogo .column .producteAComprar{
    text-align: center;
}

/*INDEX Y PRODUCT STREAMS*/

/*Streams*/
.viewers{
    position: absolute;
    z-index: 9999;
    right: 0px;
    top: 3px;
    color:white;
    background: rgba(0, 0, 0, 0.68);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    pointer-events: none;
}
.viewers .fa-user{
    color:red;
}
#filaStreams{
    margin-left: 0px;
}
#filaStreams .column img{
    width: 100%;
    height: 130px;
}

#filaStreams .column{
    width: calc(100%/4 - 15px);
    display: inline-block;
    margin-right: 15px;
    position: relative;
}
@media (max-width:991px){
    #filaStreams .column{
        width: calc(100%/3 - 15px);
    }
}
@media (max-width:770px){
    #filaStreams .column{
        width: calc(100%/2 - 15px);
    }
}
@media (max-width:500px){
    #filaStreams .column img{
        height: 80px;
    }
}

#stream{
    background-color: #4596F0;
    text-decoration: none;
    color: white !important;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
    margin-top:3px;
    margin-bottom:5px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
#stream:hover{
    -webkit-box-shadow: 0px 0px 20px 3px rgba(69,124,191,0.63);
    -moz-box-shadow: 0px 0px 20px 3px rgba(69,124,191,0.63);
    box-shadow: 0px 0px 20px 3px rgba(69,124,191,0.63);
    text-decoration: none;
    color: white;
}
#streamName{
    background-color: #4596F0;
    text-decoration: none;
    color: white !important;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
    margin-bottom:20px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
#streamName:hover{
    background-color: rgb(26, 53, 88);
    text-decoration: none;
    color: white;
}
/***************MENU LOGIN********************/
/* Full-width input fields */
.inputLogin{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.buttonLogin{
    background-color: #4497f2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.buttonLogin:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 999999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background: linear-gradient(rgba(45, 72, 128, 1) ,rgba(0, 0, 0, 1));
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    color: white !important;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 1100px) {
    .modal-content {
        width: 70%;
    }
}
@media screen and (max-width: 500px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    .modal-content {
        width: 90%;
    }
}