body{
    max-width: 100%;
    height: 100vh;
    background-color: rgb(42, 41, 41);
    color: white;
    font-family: 'Archivo', sans-serif;
    background-image: url("../img/backgrounds/dark/Overwatch.jpg");
    /* The image used */

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html{
    scroll-behavior: smooth;
}
/*LOGO NAVBAR*/
.logo{
    max-width: 100%;
    transition: 0.9s ease-in-out;
}
.logo:hover{
    transform: scale(1.2);
    transition: 0.9s ease-in-out;
}
@media (max-width:770px){
    .logo{
        display: none;
    }
}
.logoMvl{
    display:none
}
@media (max-width:770px){
    .logoMvl{
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        width: 200px;
        
    }
}


.darkMode{
    display:none;
}


/*Posicionar el buscador a ras del logo*/
#colbuscador{
    margin-top:auto;
    padding-left: 0px;
}
/*BUSCADOR*/ 
.buscador:not(:focus){
    width: 60%;
    height: 40px;
    transition: 0.6s;
    margin-bottom: 5px;    
    color: white;
    border-radius: 0px 22px 23px 0px;
    -moz-border-radius: 0px 22px 23px 0px;
    -webkit-border-radius: 0px 22px 23px 0px;
    border: 0px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px -5px 25px 0px #4e77d3;
    -moz-box-shadow: 0px -5px 25px 0px #4e77d3;
    box-shadow: 0px -5px 25px 0px #4e77d3;
}
@media (max-width:770px){
    .buscador:not(:focus){
        margin-left:-60px;
        width: 80%;
    }
}
@media (max-width:770px){
    .buscador:focus{
        margin-left:-60px;
        width: 100%;
    }
}
.buscador:focus::placeholder {
    opacity: 0;
    transition: 1s;
}
.buscador:not(:focus)::placeholder{
    color: white;
    transition: 1s;
}

.buscador:focus{
    width: 85%;
    padding-left:10px;
    height: 40px;
    transition: 0.6s;
    outline: none;
    color: white;
    margin-bottom: 5px;
    border-radius: 0px 22px 23px 0px;
    -moz-border-radius: 0px 22px 23px 0px;
    -webkit-border-radius: 0px 22px 23px 0px;
    border: 0px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px -5px 25px 0px #4e77d3;
    -moz-box-shadow: 0px -5px 25px 0px #4e77d3;
    box-shadow: 0px -5px 25px 0px #4e77d3;
}
.buscador:hover{
    outline: none;
}
.botonBuscador{
    background-color: rgba(0, 0, 0, 0);
    border:none;
}

.fa-search{
    color:#4596F0;
}
.fa-lg{
    line-height: 2px !important;
}

/*Botones Support & Acc*/
.soporte{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    line-height: 2px !important;
}
.soporte:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0px -1px 4px rgba(255,255,255,0);
}
/*MARGEN CONTAINER TOP*/
#container-top{
    padding-top: 40px;
    padding-bottom: 4px;
}
.section-top{
    background: black;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(69,124,191,0.63);
    -moz-box-shadow: 0px 5px 5px 0px rgba(69,124,191,0.63);
    box-shadow: 0px 5px 5px 0px rgba(69,124,191,0.63);
}

@media (max-width:996px){
    .soporte{
        display: none;
    }
}

.soporteMvl{
    text-decoration: none;
    color: white;
    display:none;
    background-color: rgba(0, 0, 0, 0);
    line-height: 2px !important;
}
.soporteMvl:hover{
    text-decoration: none;
    color: white;
}
@media (max-width:996px){
    .soporteMvl{
        display: inline;
    }
}
#cuenta{
    margin-bottom:2px;
}

.menuCompte{
    display: none;
    position: absolute;
    z-index: 99999;
    width: 120px;
    background-color: #0A0909;
    padding-left: 5px;
    list-style-type: none;
    margin-left: -5px;
    border: 1px solid #4e77d3;

}
@media (max-width:996px){
    .menuCompte{
        display: none;
        position: absolute;
        z-index: 99999;
        width: 120px;
        background-color: #0A0909;
        padding-left: 5px;
        list-style-type: none;
        margin-left: -50px;
        border: 1px solid #4e77d3;
    }
}
.menuCompte li{
    margin-top:5px;
    color: white;
}
.menuCompte a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0px -1px 4px rgba(255,255,255,0);
    
    
}
.menuCompte li:hover{
    -webkit-box-shadow: 8px 0px 0px 0px rgba(78,118,211,1);
    -moz-box-shadow: 8px 0px 0px 0px rgba(78,118,211,1);
    box-shadow: 8px 0px 0px 0px rgba(78,118,211,1);
    margin-left: 5px;
}
/*FOOTER*/
.section-footer{
    background: black;
}
.container-fluid{
    padding-left: 0px !important;
}
/*******Fin css todas webs*******/
/********************************/
/********************************/

   /*********COS PAGINA PRODUCTE ****************/


/*Catalogo juegos*/
.infoJoc{
    position: absolute;
    width: 100%;
    color: white;
    top:0;
    text-align: center;
}
/*Catalogo juego texto*/
[class*=genere]{
    display: flex;
    text-align: center;
    margin-left: -17px;
    font-size: 12px;
    color: black;
    font-weight: bold;
    width: 90px;
    margin-bottom: 3px;
    margin-top: 5px;
    height: 30px;
    line-height: 24px;
}
@media (max-width:770px){ 
    [class*=genere]{
        display: flex;
        text-align: center;
        margin-left: -15px;
        font-size: 10px;
        width: 70px;
        margin-bottom: 3px;
        margin-top: 5px;
    }
}

@media (max-width:315px){ 
    [class*=genere]{
        display: flex;
        text-align: center;
        margin-left: -15px;
        font-size: 10px;
        width: 70px;
        margin-bottom: 3px;
        margin-top: 4px;
    }
}
[class*=genere] span{
    margin-left: 17px;
}
.preu{
    float: right;
    padding-left:2px;
    margin-right: 2px;
    background-color: rgba(0, 0, 0, 0.404);
    font-size: 22px;
    margin-top: 3px;
    margin-right:-1px;
}
.fa-arrow-down{
    color: rgb(150, 245, 150)
}

/*Catalogo juego filas y columnas */
#filaCatalogo{
    margin-left: 0px;
    margin-right: 0px;
}
#filaCatalogo .column img{
    width: 100%;
}
#filaCatalogo .column img:hover{
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}
#filaCatalogo .column .producteAComprar{
    text-align: center;
}
#filaCatalogo .column{
    width: calc(100%/4 - 35px);
    display: inline-block;
    margin-right: 20px;
    margin-left: 15px;
    position: relative;
    margin-top:15px;
}
@media (max-width:924px){
    #filaCatalogo .column{
        width: calc(100%/3 - 35px);
    }
}
@media (max-width:770px){
    #filaCatalogo .column{
        width: calc(100%/2 - 35px);
    }
}

.tituloFilas{
    margin-top:25px;
    font-size: 20px;
    font-weight: bold;
}
.producteAComprar{
    background-color: #4596F0;
    text-decoration: none;
    color: white !important;
    font-family: Arial;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
    margin-top:3px;
    margin-bottom:5px;
    transition: 0.3s ease-in-out;
}

.producteAComprar:hover{
    background-color: rgb(26, 53, 88);
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
    font-family: Arial;
    
}
.imgProducteAComprar{
    background-color: #4596F0;
    text-decoration: none;
    color: white !important;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
    margin-top:3px;
    margin-bottom:5px;
}

/*Streams*/
#filaStreams{
    margin-left: 0px;
}
#filaStreams .column img{
    width: 100%;
}

#filaStreams .column{
    width: calc(100%/4 - 15px);
    display: inline-block;
    margin-right: 15px;
    position: relative;
}
#filaStreams .column img{
    height: 130px;
}
@media (max-width:924px){
    #filaStreams .column{
        width: calc(100%/3 - 15px);
    }
}
@media (max-width:770px){
    #filaStreams .column{
        width: calc(100%/2 - 15px);
    }
}
@media (max-width:500px){
    #filaStreams .column img{
        height: 80px;
    }
}

#stream{
    background-color: #4596F0;
    text-decoration: none;
    color: white !important;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
    margin-top:3px;
    margin-bottom:5px;
    text-align: center;
}
#stream:hover{
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}
#streamName{
    background-color: #4596F0;
    text-decoration: none;
    color: white !important;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
    margin-bottom:20px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

#stream:hover{
    background-color: rgb(26, 53, 88);
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}
#streamName:hover{
    background-color: rgb(26, 53, 88);
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}


.genere1{
    background-image: url("../img/generos/Rojo.png");
}
.genere2{
    background-image: url("../img/generos/Azul_marino.png");
}
.genere3{
    background-image: url("../img/generos/Aguamarina.png");
}
.genere4{
    background-image: url("../img/generos/Cereza.png");
}
.genere5{
    background-image: url("../img/generos/Verde.png");
}
.genere6{
    background-image: url("../img/generos/Verde_azulado.png");
}
.genere7{
    background-image: url("../img/generos/Violeta.png");
}
.genere8{
    background-image: url("../img/generos/Verde_pistacho.png");
}
.genere9{
    background-image: url("../img/generos/Morado.png");
}
.genere10{
    background-image: url("../img/generos/Cielo.png");
}
.genere11{
    background-image: url("../img/generos/Fucsia.png");
}
.genere12{
    background-image: url("../img/generos/Naranja.png");
}
.genere13{
    background-image: url("../img/generos/Ocre.png");
}
.genere14{
    background-image: url("../img/generos/Naranja_brillante.png");
}
.genere15{
    background-image: url("../img/generos/Purpura.png");
}
.genere16{
    background-image: url("../img/generos/Turquesa.png");
}
.genere17{
    background-image: url("../img/generos/Rosa.png");
}
.genere18{
    background-image: url("../img/generos/Turquesa_verdoso.png");
}

