
#productesCompratsRow{
    padding-top: 20px;
    padding-bottom: 10px;
}
.imgProducteComprat{
    width: 150px;
}
.table td{
    vertical-align: middle !important;
}
.fa-copy{
    cursor: pointer;
}
@media (max-width:535px){
    .imgProducteComprat{
        width: 100px;
    }
}