/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-dic-2019, 23:51:30
    Author     : PC
*/

#pagamentRow{
    padding-top: 20px;
    padding-bottom: 10px;
}
.table td{
    vertical-align: middle !important;
}
#formPagament{
    padding-bottom: 10px;
}
.table thead th {
    border-bottom:0px !important;
}
.table td, .table th {
    border-top:0px !important;
}
table, th, tr {
    border: 3px solid black !important;
}
#rowCurrency{
    margin-bottom: 10px;
}
#serial{
    color: orangered;
    font-weight: bold;
}
label[class*="error"]{
    position: absolute;
    color: #ff0000;
    font-weight: bold;
    left: 26px;
    background: black;
    padding-left: 10px;
    padding-right: 10px;

}
/*Amagar un missatge no desitjat del jquery validate*/
strong{
    display: none !important;
}

/*Amagar els butons y numeros input type number*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}