/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-dic-2019, 23:51:30
    Author     : PC
*/

#pagamentRow{
    padding-top: 20px;
    padding-bottom: 10px;
}