/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-nov-2019, 19:04:36
    Author     : PC
*/

.divTitol{
    width: 100%; 
    height: 100%;
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 999;
}
.textTitol{
    position: absolute;
    top: 50px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border: 1px solid;
}
.descripcioSuport{
     margin: 100px 15px 0px 15px;
     
}
.bla{
    text-transform: none;
    font-size: 20px;
    display:none;
}
.bla a:hover{
    text-decoration: none !important;
}
#suportRow{
    margin-left: 20px;
    margin-right: 31px;
}
#contacte{
    padding-top: 30px;
    font-size: 20px;
}
@media (max-width:770px){
    .divTitol{
        font-size: 24px;
    }
    #suportRow{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width:470px){
    .divTitol{
        font-size: 20px;
    }
}