/*************** COS PAGINA PERFIL ****************/
#fotoPerfil{
    border-radius: 50%;
    height: 135px;
    width: 100%;
}
/*fa icon camara para editar imagen perfil*/
.fa-camera{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background:none;
    color:white;
    padding:20px;
    transform: scale(1.5);
}
#fotoPerfil:hover + .fa-camera{
    visibility: visible;
    transition: all .3s;
}
.fa-camera:hover{
    visibility: visible;
    transition: all .3s;
    color: #4596F0;
}
.file-upload{
    display:none;
}

/*Divs lista de juegos*/
.section-body .col-md-12{
    margin-top: 20px;
}

.retirarWhishList{
    position: absolute;
    width: 30px;
    z-index: 999;
    right: 3px;
    opacity: 0.8;
    top:0;
}
.retirarWhishList:hover{
    transform: scale(1.2);
    opacity: 1;
}

#llistaProductes{
    display: block;
}
.table td{
    vertical-align: middle !important;
}
#jocCarroPerfil{
    width: 100px;
}

@media (max-width:535px){
    #jocCarroPerfil{
        width: 80px;
    }
}
#carritoHide{
    display:none;
    transition: 1s all;
}
#carritoShow{
    transition: 1s all;
}
@media (max-width:1199px){
    #fotoPerfil{
    height: 90px;
    width: 100%;
    }
}
@media (max-width:767px){
    #fotoPerfil{
        height: 140px;
        width: 140px;
    }
    .fa-camera{
        visibility: hidden;
        position: absolute;
        left: 150px;
        top: 0;
        background:none;
        color:white;
        padding:30px;
    }
}

/*Jocs desitjats*/

#jocsH4{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}
.section-body .row .col-md-3{
    margin-bottom: 40px;
}
#jocsPerfil{
    margin-left: 30px;
    margin-right: 20px;
    padding-top: 20px;
}
#portadaJoc{
    width: 100%;
    transition: 0.5s;
}
#portadaJoc:hover{
    -moz-box-shadow: 0px 0px 20px 3px rgba(69,124,191,0.63);
    transform: scale(1.09);
}
#jocsPerfil .column .producteAComprar{
    text-align: center;
}
#jocsPerfil .column{
    width: calc(100%/4 - 35px);
    display: inline-block;
    margin-right: 20px;
    margin-left: 15px;
    position: relative;
    margin-bottom:15px;
}
.producteAComprar{
    background-color: #4596F0;
    text-decoration: none;
    color: white !important;
    font-family: Arial;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: relative;
    margin-top:3px;
    margin-bottom:5px;
    transition: 0.3s ease-in-out;
}

.producteAComprar:hover{
    background-color: rgb(26, 53, 88);
    text-decoration: none;
    color: white;
    font-family: Arial;
    
}
#black{
    background: black;
}
#guiaWhish{
    width: 200px;
}
@media (max-width:1130px){
    #jocsPerfil{
        margin-left: 10px;
        margin-right: 0px;
    }
}
@media (max-width:924px){
    #jocsPerfil .column{
        width: calc(100%/3 - 35px);
    }
}
@media (max-width:770px){
    #jocsPerfil .column{
        width: calc(100%/2 - 35px);
    }
}